body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff;
  font-size: 1.8em;
  line-height: 1.6;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
